<div class="div-center-content">
  <div id="top-splash"></div>
</div>
<app-panel-row title="About" [contentText]="aboutText" class="page-panel"></app-panel-row>
<div class="page-panel">
  <div style="text-align: center; width: 100%; box-sizing: border-box;">
    <iframe width="405" height="190" src="https://www.worldcommunitygrid.org/getDynamicImage.do?memberName=captainglac1er&mnOn=true&stat=1&imageNum=1&rankOn=true&projectsOn=true&special=true" frameborder="0" name="di" scrolling="no" ></iframe>
  </div>
</div>
