<div id="navElements">
  <div id="btnNavHamburger" (click)="mobileInterface.toggleHamburgerMenu()">
    Menu
  </div>
  <div id="contentLockout" [ngClass]="{lockoutShow: mobileInterface.hamburgerShown}" (click)="mobileInterface.closeHamburgerMenu()">
    <div class="navbar" id="navigationContent" [ngClass]="{hamburgerShow: mobileInterface.hamburgerShown}">
      <div *ngFor="let link of links" [routerLink]=[link.link] class="nav-link" (click)="mobileInterface.closeHamburgerMenu()">
        {{link.title}}
      </div>
    </div>
  </div>
</div>
