<div class="div-center-content" id="top-splash">
  <div class="main-tile">
    <div><img id="logo" src="../../assets/personalLogo2.png"/></div>
    <h1>{{name}}</h1>
    <h2>{{gamertag}}</h2>
    <h3>{{phone}}</h3>
  </div>
</div>
<div class="page-panel">
  <h2 class="page-panel-title">
      {{about.title}}
  </h2>
  <p class="page-panel-content" [innerHTML] ="about.text">
  </p>
</div>
<div class="page-panel">
  <h2 class="page-panel-title">
      {{homepage.jobs.title}}
  </h2>
  <div class="page-panel-content">
    <div class="page-panel-tile text-link text-center" *ngFor="let job of jobs | keyvalue:newestFirst" (click)="goToJobPage(job.key)">
      <h4>
        {{job.value.company}}
      </h4>
      <h3>
        {{job.value.position}}
      </h3>
      <p [innerHTML]="job.value.shortDescription"></p>
    </div>
  </div>
</div>
<div class="page-panel">
  <h2 class="page-panel-title">
    {{homepage.links.title}}
  </h2>
  <div class="page-panel-content">
    <a class="page-panel-tile text-link text-center" *ngFor="let link of homepage.links.urls" href={{link.url}} target="_blank">
      <h3>
        {{link.title}}
      </h3>
    </a>
  </div>
</div>
<div class="content">
  

</div>
