#logo {
  width: 100px;
  align-self: center;
  background-color: rgba(50,50,50,.8);
  border-radius: 5px;
  padding: 10px;
}

#top-splash {
  background: url("https://cdn.georgecolgrove.com/img/splash.jpg") center center;
  background-size: cover;
}

.page-panel-tile {
  flex: 1 1 350px;
}



.links {
  text-align: center;
  text-decoration: none;
}
