#logo {
  width: 100px;
  align-self: center;
  background-color: rgba(50,50,50,.8);
  border-radius: 5px;
  padding: 10px;
}

#top-splash {
  background: url("../../assets/splash.jpg") center center;
  background-size: cover;
  height: 25vw;
  max-height: 500px;
  align-content: center;
  justify-content: center;
}

.page-panel-tile {
  flex: 1 1 350px;
}



.links {
  text-align: center;
  text-decoration: none;
}
