#logo {
  width: 100px;
  align-self: center;
  background-color: rgba(64,64,64,.7);
  border-radius: 15px;
  padding: 10px;
}

#top-splash {
  color: white;
  background: url("../../assets/splash.jpg") left center;
  background-size: cover;
  height: 25vw;
  max-height: 500px;
  align-content: center;
  justify-content: center;
}

.page-panel-tile {
  flex: 1 1 350px;
}



.links {
  text-align: center;
  text-decoration: none;
  color: white;
}
