<div class="listing-body">
    <a *ngFor="let aJob of jobs | orderDate:'newestFirst'" [routerLink]="['/experiences', aJob.tag]"
       class="listing-row listing-single-column">
        <h3 class="listing-title">
            {{aJob.title}}
        </h3>
        <h4 class="listing-subtitle">
            {{aJob.subTitle}}
        </h4>
        <h4 class="listing-subtitle">
            {{aJob.startDate | date:'shortDate'}} - {{(aJob.endDate | date:'shortDate') || 'Current'}}
        </h4>
        <div>
            {{aJob.shortDescription}}
        </div>
    </a>
</div>
