<div class="listing-body">
  @if (jobs$ | async; as jobs) {
    @for (aJob of jobs | orderDate:'newestFirst'; track aJob) {
      <a [routerLink]="['/experiences', aJob.tag]"
        class="listing-row listing-single-column">
        <h3 class="listing-title">
          {{aJob.title}}
        </h3>
        <h4 class="listing-subtitle">
          {{aJob.subTitle}}
        </h4>
        <h4 class="listing-subtitle">
          {{aJob.startDate | date:'shortDate'}} - {{(aJob.endDate | date:'shortDate') || 'Current'}}
        </h4>
        <div>
          {{aJob.shortDescription}}
        </div>
      </a>
    }
  } @else {
    <div class="listing-row listing-single-column">
      <div class="loading"></div>
    </div>
    <div class="listing-row listing-single-column">
      <div class="loading"></div>
    </div>
    <div class="listing-row listing-single-column">
      <div class="loading"></div>
    </div>
  }
</div>
