#top-bar{
    border-top: 5px solid rgb(200,25,28);
    background-color: black;
    color: lightgray;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 0 0 45px;
}
#company-name{
    flex: 0 0 220px;
    padding-left: 10px;
    height: 100%;
    align-items: center;
    display: flex;
}
#navbar{
    flex: 1 1 100%;
    height: 100%;
}
#main-content{ 
    flex: 0 0 auto;
    position: relative;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
}
.flex-full-height{
    height: 100%;
}