@if (job) {
  <div id="top-splash" class="div-center-content" [style.background-image]="'url(' + job?.logoUrl + ')'">
    <div class="main-tile">
      <h1>{{job?.company}}</h1>
      <h2>{{job?.position}}</h2>
      <h3>{{job?.startDate | date:'shortDate'}} - {{(job?.endDate | date:'shortDate') || 'Current'}}</h3>
      <h3>{{job?.location}}</h3>
    </div>
  </div>
}
<app-panel-row [title]="experienceTitle"
  [contentText]="job?.description || job?.shortDescription"
class="page-panel"></app-panel-row>
@if (projectsForJob?.length > 0) {
  <app-panel-row [title]="projectTitle" class="page-panel"
    >
    @for (item of projectsForJob; track item) {
      <app-clickable-tile [objectToDisplay]="item" class="page-tile">
        <app-plain-tile [objectToDisplay]="item"></app-plain-tile>
      </app-clickable-tile>
    }
  </app-panel-row>
}
@if (job?.frameworksUsed.length > 0) {
  <app-panel-row [title]="frameworkTitle" class="page-panel"
    >
    @for (item of job?.frameworksUsed; track item) {
      <app-clickable-tile [objectToDisplay]="item" class="page-tile">
        <app-plain-tile [objectToDisplay]="item"></app-plain-tile>
      </app-clickable-tile>
    }
  </app-panel-row>
}
