.listing-body {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
a.listing-row{
  text-decoration: none;
  color: inherit;
}
.listing-row {
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.listing-row:nth-child(even){
  background-color: #333333;
}
.listing-row:nth-child(odd){
  background-color: #222222;
}

.listing-row > .listing-title {

}
.listing-row > .listing-subtitle {

}
.listing-row > .listing-body {

}
.listing-single-column{
  flex: 0 0 100%;
}
.listing-double-column{
  flex: 0 0 50%;
}
