/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: linear-gradient(to right bottom, rgb(16, 0, 0) 0%, rgb(48, 0, 0) 10%, rgb(16, 0, 0) 25%, rgb(48, 0, 0) 40%, rgb(16, 0, 0) 60%, rgb(48, 0, 0) 85%, rgb(16, 0, 0) 100%) fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: #d3d3d3;
}

html {
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  font-size: 18px;
  height: 100%;
}

a {

}

.div-center-content {
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 100%;
  flex: 1 1 auto;
  background-color: #eeeeee;
}

p {
  margin: 0;
}

.page-title {
  justify-content: center;
  display: flex;
  font-size: xx-large;
  padding: 10px;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-full-height {
  height: 100%;
}

.text-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

#top-splash {
  background: black;
  background-size: cover;
  height: 25vw;
  min-height: 125px;
  max-height: 500px;
  align-content: center;
  justify-content: center;
}

.main-tile {
  box-sizing: border-box;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  background: rgba(20, 20, 20, 0.7) center center;
  height: 100%;
  padding: 10px;
}

.main-tile > div {
  display: flex;
  align-content: center;
  justify-content: center;
}
h1 {
  margin: 5px 0;
}
 h2 {
  margin: 3px 0;
}
h3 {
  margin: 2px 0;
}
h4 {
  margin: 1px 0;
}
div {
  font-size: 16px;
}
.page-panel {
  display: flex;
  flex: 3 3 100%;
  flex-direction: row;
  padding: 20px 1vw;
}
.page-panel:nth-child(even){
  background-color: #222222;
}
.page-panel:nth-child(odd){
  background-color: #111111;
}
.page-panel-title {
  flex: 1 1 300px;
  padding-bottom: 30px;
}

.page-panel-content {
  flex: 1 1 100%;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
}

.page-panel-tile {
  background-color: rgba(255,255,255,.1);
  padding: 10px;
  margin: 0 20px 20px 0;
  border-radius: 5px;
  border-right: 3px solid #333333;
  border-bottom: 3px solid #333333;
  -webkit-transition: 100ms linear;
  -moz-transition: 100ms linear;
  -o-transition: 100ms linear;
  transition: 100ms linear;
}
.text-center {
  text-align: center;
}
.page-panel-tile:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 1300px) {
  #logo {
    width: 150px;
  }

  #top-splash > .main-tile {
    /*font-size: 32px;*/
  }

  h1{
    font-size: 40px;
    margin: 5px 0;
  }
  h2 {
    font-size: 32px;
    margin: 3px 0;
  }
  h3 {
    font-size: 28px;
    margin: 2px 0;
  }
  h4 {
    font-size: 20px;
    margin: 1px 0;
  }
  div {
    font-size: 18px;
  }

}

@media screen and (max-width: 1000px) {
  #logo {
    display: none;
  }

  .page-panel {
    flex-direction: column;
  }

  .page-panel-tile {
    margin: 1vw 1vh;

  }

  .page-panel-title {
    flex: 1 1 100%;
  }
  h1{
    font-size: 40px;
    margin: 5px 0;
  }
  h2 {
    font-size: 25px;
    margin: 3px 0;
  }
  h3 {
    font-size: 18px;
    margin: 2px 0;
  }
  h4 {
    font-size: 14px;
    margin: 1px 0;
  }
  div {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  h1{
    font-size: 20px;
    margin: 5px 0;
  }
  h2 {
    font-size: 15px;
    margin: 3px 0;
  }
  h3 {
    font-size: 13px;
    margin: 2px 0;
  }
  h4 {
    font-size: 12px;
    margin: 1px 0;
  }
  div {
    font-size: 12px;
  }
}
