<div id="top-splash" class="div-center-content">
    <div class="main-tile">
        <h1>{{project.title}}</h1>
        <h3>{{project.startDate | date:'shortDate'}} - {{(project.endDate | date:'shortDate') || 'Current'}}</h3>
    </div>
</div>
    <app-panel-row [title]="myAbout" [contentText]="project.description || project.shortDescription"
                   class="page-panel"></app-panel-row>
    <app-panel-row *ngIf="project.links" [title]="myLinks" [contentTiles]="project.links" class="page-panel"
                   [useExtUrlFirst]="true"></app-panel-row>
